<div class="field-name">
       <ng-content></ng-content>

</div>
<div class="auto-suggest-input">
    <input #searchTextInput class="text-input" [(ngModel)]="searchText" (focus)="inputOnFocus()" (blur)="inputOnBlur()" (input)="inputOnFocus()"/>
</div>
<app-input-results *ngIf="inputIsOnFocus && (results.length > 0 || isLoadingResultsFromServer) && searchText"
    [textFilter]="pipeTextFiltering" [itemCollection]="results" [displayLoading]="isLoadingResultsFromServer"
    (itemSelectedHandler)="itemSelectionHandler($event)"></app-input-results>