  .auto-suggest-input {
    .text-input {
      width: 220px;
      height: 30px;
      border-radius: 3px;
      border: #c1bcbc 1px solid;
      background-color: #fffaf0;
      padding-left: 10px;
    }

    .mat-spinner {
      display: none;
      width: 20px; 
      height: 20px;
      svg {
        width: 20px;
        height: 20px;
      } 
    }
  }

  app-input-results {
    .input-results {
      min-width: 230px;
    }
  }

