<div class="nav-row" [ngClass]="{bottomNavigation: scrollNavigatedBottom}">
  <nav>
    <ul>
      <li [ngClass]="{active: selectedMenuItem.name === menuItem.name}"
        *ngFor="let menuItem of menuLinks; let isLast=last" (click)="navigateToLink(menuItem)">{{menuItem.name}}
      </li>
    </ul>
  </nav>
</div>
<div class="main-grid">
  <div class="left-panel">
    <div class="side-menu">
      <app-side-bar-content [menuItems]="selectedMenuItem.children" (subMenuChanged)="setSubTitleHandler($event)"></app-side-bar-content>
    </div>
  </div>
  <div class="right-panel">
    <div class="banner" #banner @fade>
      <div class="title">
        <h1>
          Barak Josef
        </h1>
      </div>
      <div class="sub-title">
        <h2>Software Developer</h2>
      </div>
      <div class="section-title" *ngIf="selectedMenuItem.title">
        <h3>
          {{selectedMenuItem.title + (pageSubTitle ? ' - '+pageSubTitle : '' )  }}
        </h3>
        <hr class="separator"/>
      </div>
    </div>
    <div class="container">
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>


</div>
    <div class="footer-row">
      <footer>
        Footer
      </footer>
    </div>