:host {
  .nav-row {
    width: calc(100% - 16px);
    height: 50px;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ebebeb;
    background: linear-gradient(180deg, #ebebeb 0%, rgba(255,255,255,1) 100%);
    transition: 0.3s;

    &.bottomNavigation {
      opacity: 0.3;
    }
    &:hover {
      opacity: 1;
    }

    nav {
      ul {
        margin: 0;
        overflow: hidden;
        list-style-type: none;

        li {
          border-radius: 5px;
          cursor: pointer;
          float: left;
          padding: 10px;
          transition: 0.2s;
          font-size: 24px;

          &.active {
            background-color: #ffffff;
            border-bottom: #ffffff 3px solid;
          }

        }

        li:hover {
          border-bottom: #c0c0c0 3px solid;
        }
      }
    }
  }


  .main-grid {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: minmax(1fr, 150px) minmax(1fr, 45px) 1fr 1fr 1fr 1fr 1fr 1fr 50px;
    width: 90%;


    .banner {
      width: 100%;
      height: 150px;
      grid-column-start: 3;
      grid-column-end: 11;
      grid-row-start: 1;
      grid-row-end: 2;
      padding-left: 30px;
    display: block;
      background: rgb(255,255,255);
      background: linear-gradient(-180deg, rgba(255,255,255,1) 32%, rgba(252,252,252,1) 61%, rgba(252,252,252,1) 89%);
      .main-title {

      }
      .sub-title {

      }
    }

    .container {
      grid-column-start: 3;
      grid-column-end: 11;
      grid-row-start: 2;
      grid-row-end: 8;
      background-color: #FDFDFD;
        padding: 10px;

        min-height: 73vh;
      .section-title {
        h3 {
          font-family: sans-serif;
        }
        .separator {

        }
      }

      .content {
        background:none;
        padding: 20px;
      }
    }

    .side-menu {
      align-items: start;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 8;
      //padding: 10px;
    }

    .footer-row {
      grid-column-start: 1;
      grid-column-end: 11;
      grid-row-start: 8;
      grid-row-end: 9;
    }

  }
}
