<p>
    Hi there, and welcome to my website.<br/>
    My name is Barak Josef, I’m a senior fullstack developer in the Hightech industry for years.<br/>
    this website has some components in my portfolio to show you a few examples of my experience<br/>
    I believe in three important essential point to accomplish in order to be a professional Software Developer:<br/>
    <ul>
   <li>
       Knowledge => know the way things work, the concept behind it.
   </li>
   <li>
       Experience => Not return back on problems, and having experience in various of business logics, UI, etc..
   </li>
   <li>
       Skills => give the best solution for the problem, know where to route when it’s need.
   </li>
    </ul>